body {
    margin: 20px; 
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid;
}
header {
    background-color: #101f26;
    text-align: justify;
    padding-right: 5px;
}
.container {
    width: 1340px;
    margin-left: 80px;
    margin-right: auto;
    position: relative;
}
nav {
    background-color: #d64339;
    padding-left: 275px;
}
header h1 {
    font-size: 54px;
    color: orangered;
    padding-top: 31px;
}
header h2 {
    color: white;
    font-size: 36px;
}
header p {
    font-size: 100%;
    padding-bottom: 30px;
    color: #fff;
    line-height: 24px;
}
h3 {
    color: #d64339;
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 43px;
    margin-top: 10px;
}
h4 {
    color: #d64339;
    padding-bottom: 7px;
    font-weight: 500;
}
#white {
    color: #fff;
    font-size: 100%;
}   
nav {
    background-color: #d64339;
} 
nav a {
    color: #fff;
    line-height: 50px;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
}
nav a i{
    padding-right: 5px; 
}
#skills {
    padding-top: 30px;
    margin-left: 45px;
    font-size: 18px;
}
span {
    border: 1px solid;
    background-color: #262634;
    padding: 5px;
    color: white;
    border-radius: 6px;
}    
h3::before {
    content: "";
    margin-right: 10px;
    background-color: #d64339;
    width: 27px;
    height: 35px;
    display: inline-block;
    position: absolute;
    left: -29px;
    top: 31px
}
#technicalskills {
    line-height: 27px;
}
strong {
    font-weight: 600;
}
#date {
    margin-left: 981px;
    border: none;
    background-color: white;
    color: black;
}
ul {
    list-style-type:circle;
    margin-right: 10px;
}
li {
    font-style: italic;
    padding-bottom: 10px;
    line-height: 20px;
    text-align: justify;
    width: 90%;
    margin-left: 17px;
}
.page-section {
    margin: 30px,0,0,0;
}
table, th, td {
    border: 1px solid;
    margin-top: 30px;
    border-collapse: collapse;
}
th, td {
    padding: 10px; 
    text-align: left;
  }
tr:hover {
    background-color: azure;
}
th{
    background-color: beige;
    font-weight: 500;
}
#username {
    margin-left: 96px;
}
#email {
    margin-left: 100px;
}
#phNumber {
    margin-left: 12px;
}
#country {
    margin-left: 81px;
}
#message {
    margin-left: 75px;
}
#submit {
    margin-left: 150px;
    background-color: green;
    color: whitesmoke;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
div {
    padding: 5px;
}
footer {
    font-size: 20px;
    font-weight: 700;
}
@media (min-width: 600px) {
    header h1 {
        font-size: 24px;
    }    
}
@media (min-width: 1000px) {
    header h1 {
        font-size: 44px;
    }    
}
@media (min-width: 1200px) {
    header h1 {
        font-size: 64px;
    }    
}